@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

body {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: 0;
}
.viewer {
    /** setting this element to fixed **/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr;
}
.close-viewer {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    justify-self: center;
}
div img {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    max-height: 100%;
}

header {
    background-color: rgb(116, 42, 185);
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 0;
}

#menu {
    font-size: 30px;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
nav {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20%;
}
a {
    padding: 1rem;
    color: aliceblue;
}
.hide {
    display: none;
}

main {
    background-color: lightgray;
}

h1, h2 {
    font-family: mooli;
    text-align: center;
}
h2 {
    color: black;
    padding-top: 2rem;
    font-size: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 20%;
    place-items: center; /* Centering the images in the grid*/
}
figure {
    width: 100%;
    text-align: center;
}
img {
    max-width: 100%;
    box-shadow: 5px 5px gray;
    border: 5px solid white;
    height: 225px;
    width: 225px;
    object-fit: cover; /* make it so it doesn't distort the pics*/
}

footer {
    background-color: rgb(116, 42, 185);
    padding: 1rem;
}
 footer p {
    margin: 0 20%;
 }

 @media screen and (max-width: 1000px) {
    #menu {
        display: none;
    }
    nav {
        flex-direction: column;
    }
    a {
        display: flex;
        justify-content: center;
    }
    .hide {
        display: block;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
 }

 @media screen and (min-width: 1700px) {
    .hide {
        display: block;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}